
.main-info {
  padding: 50px;
  text-align: center;
}

.main-info h2 {
  color: white;
  font-size: 30px;
}

.main-info h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
}

.main-background-img {
  background-image: linear-gradient(to bottom, rgba(29, 30, 30, 0.1), rgba(29, 30, 30, 0.1)), url("/images/roses-background1.jpg");
  background-size: cover;
  opacity: 0.9;
  background-position: center bottom;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-opaque {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background:linear-gradient(to bottom, rgba(252, 252, 252, 0.1), rgba(252, 252, 252, 0.1));
  width: 70%;
  height: 70vh;
}
