.project-cards {
  text-align: center;
  margin:30px;
  position: relative;
  height: 60vh;
}

.project-title:hover {
  transform: scale(1.2);
  /*color: #4f6363;*/
}

.page3-container h2 {
  text-align: center;
}

.contact {
  text-align: center;
  /*margin-bottom: 30px;*/
  font-size: 12px;
}

.contact-title {
  font-size: 20px;
}

.project-card1 {
  position: absolute;
  left: 204px;
  top: 82px;
}
.project-card2 {
  position: absolute;
  left: 593px;
  bottom: 93px;

}

/*@media (max-width: 720px) {*/
  /* For a screen < 720px, this CSS will be read
 .project-cards {
   height: 40vh;
   display: flex;
   flex-direction: column;
 }

/*#page3 {
  align-items: space-between;
}*/
/*}*/
