/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Andada');

/*Components*/

/*Pages*/
@import url("home.css");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Andada', serif;
}


