body {
  margin: 0;
  padding: 0;
  height: 100vh;
}


.main-info {
  padding: 80px;
  text-align: center;
}

.main-background-img {
  background-image: url("images/roses-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
/*   min-width: 100%;
  min-height: 100%;*/

  /*background-repeat: no-repeat;*/
}
