.btn-main {
  padding: 12px 30px;
  margin: 4px;
  border: 0.8px solid white;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.btn-main:hover {
  text-decoration: none;
  color: white;
}
