.main-container {
  display: flex;
  flex-direction: column;
  }

.page2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.page3-container {
  margin: 0 60px;
}

.contact-container {
   background-color: #4f6363;
   padding: 20px;
   color: white;
}
